In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("diabetic_data.csv")

In [3]:
data.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [4]:
##drop the weight and payer_code column due to high rates of missing data
data = data.drop(['weight', 'payer_code'], axis=1)

In [5]:
len(data)

101766

In [6]:
##Omit discharge disposition ids that correspond to hospice or death. These include: 11, 13, 14, 19, 20, 21.
a = [11, 13, 14, 19, 20, 21]
data = data[~data.discharge_disposition_id.isin(a)]

In [7]:
len(data)

99343

In [8]:
##make function to recode readmission, 0 is no readmission or >30 days, <30 days is an early readmission
def recode(x):
    if x == 'NO'or x == '>30':
        return 0
    else:
        return 1

In [9]:
##recode readmission
data['readmitted'] = data['readmitted'].apply(recode)

In [10]:
data.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,medical_specialty,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,Pediatrics-Endocrinology,...,No,No,No,No,No,No,No,No,No,0
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,?,...,No,Up,No,No,No,No,No,Ch,Yes,0
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,?,...,No,No,No,No,No,No,No,No,Yes,0
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,?,...,No,Up,No,No,No,No,No,Ch,Yes,0
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,?,...,No,Steady,No,No,No,No,No,Ch,Yes,0

In [11]:
data2 = data.loc[data.groupby("patient_nbr")["encounter_id"].idxmin()]

In [14]:
len(data2)

69990

In [15]:
data2 = data2.reset_index()

In [19]:
data2["patient_nbr"] = data2["index"]

In [20]:
data2.head()

,index,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,4267,24437208,4267,Caucasian,Female,[50-60),2,1,1,8,...,No,Steady,No,No,No,No,No,Ch,Yes,1
1,5827,29758806,5827,Caucasian,Female,[50-60),3,1,1,2,...,No,No,No,No,No,No,No,No,No,0
2,67608,189899286,67608,Caucasian,Female,[80-90),1,3,7,4,...,No,No,No,No,No,No,No,No,Yes,0
3,17494,64331490,17494,Caucasian,Female,[80-90),1,1,7,3,...,No,No,No,No,No,No,No,Ch,Yes,0
4,2270,14824206,2270,AfricanAmerican,Female,[30-40),1,1,7,5,...,No,No,No,No,No,No,No,No,Yes,0

In [26]:
data2 = data2.drop(["index"], axis=1)
data2.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,medical_specialty,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,24437208,4267,Caucasian,Female,[50-60),2,1,1,8,Cardiology,...,No,Steady,No,No,No,No,No,Ch,Yes,1
1,29758806,5827,Caucasian,Female,[50-60),3,1,1,2,Surgery-Neuro,...,No,No,No,No,No,No,No,No,No,0
2,189899286,67608,Caucasian,Female,[80-90),1,3,7,4,InternalMedicine,...,No,No,No,No,No,No,No,No,Yes,0
3,64331490,17494,Caucasian,Female,[80-90),1,1,7,3,InternalMedicine,...,No,No,No,No,No,No,No,Ch,Yes,0
4,14824206,2270,AfricanAmerican,Female,[30-40),1,1,7,5,InternalMedicine,...,No,No,No,No,No,No,No,No,Yes,0

In [27]:
data2.to_csv("19062018_dataset_cleaned.csv", sep=",")

In [84]:
unique_patients = list(set(data.patient_nbr.values))

In [93]:
import numpy as np

In [108]:

test = list()
for pat in unique_patients:
    rows = data.loc[data["patient_nbr"] == pat]
    if len(rows) > 1:
        lowest = np.min(rows["encounter_id"].values)
        selection = rows.loc[rows["encounter_id"] == lowest]
        test.append(selection)
        continue;
    test.append(rows)

In [ ]:
len(test)

In [ ]:
test[0]

In [ ]:

df_result = pd.DataFrame(test,columns=data.columns)

In [111]:
df_result.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,medical_specialty,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
47144,145090254,33947649,Caucasian,Female,[70-80),5,6,1,9,?,...,No,Steady,No,No,No,No,No,No,Yes,0

In [82]:
data2.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,medical_specialty,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
4780,26264286,135,Caucasian,Female,[50-60),1,1,7,3,Surgery-Cardiovascular/Thoracic,...,No,No,No,No,No,No,No,Ch,Yes,0
4267,24437208,135,Caucasian,Female,[50-60),2,1,1,8,Cardiology,...,No,Steady,No,No,No,No,No,Ch,Yes,1
5827,29758806,378,Caucasian,Female,[50-60),3,1,1,2,Surgery-Neuro,...,No,No,No,No,No,No,No,No,No,0
67608,189899286,729,Caucasian,Female,[80-90),1,3,7,4,InternalMedicine,...,No,No,No,No,No,No,No,No,Yes,0
17494,64331490,774,Caucasian,Female,[80-90),1,1,7,3,InternalMedicine,...,No,No,No,No,No,No,No,Ch,Yes,0

In [86]:
df_counts = pd.DataFrame(data['patient_nbr'].value_counts()).reset_index()

In [87]:
df_counts.head()

      index  patient_nbr
0  88785891           40
1  43140906           28
2   1660293           23
3  88227540           23
4  23199021           23

In [88]:
df_counts = df_counts.loc[df_counts["patient_nbr"] > 1]
data2 = data.loc[data["patient_nbr"].isin(df_counts["index"])]

In [91]:
data2.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,medical_specialty,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
12,40926,85504905,Caucasian,Female,[40-50),1,3,7,7,Family/GeneralPractice,...,No,Down,No,No,No,No,No,Ch,Yes,1
27,248916,115196778,Caucasian,Female,[50-60),1,1,1,2,Surgery-General,...,No,Steady,No,No,No,No,No,No,Yes,0
28,250872,41606064,Caucasian,Male,[20-30),2,1,2,10,?,...,No,Down,No,No,No,No,No,Ch,Yes,0
32,260166,80845353,Caucasian,Female,[70-80),1,1,7,6,Family/GeneralPractice,...,No,Steady,No,No,No,No,No,No,Yes,0
33,293058,114715242,Caucasian,Male,[60-70),2,6,2,5,?,...,No,Steady,No,No,No,No,No,No,Yes,0

In [ ]:
data["multiple_visits"] = data.loc[data["patient_nbr"].isin(data2["patient_nbr"])]

In [5]:
##
data1 = open('temp1_new.csv', 'r')
line1 = data1.readline()
pt_encounter = dict()
for line in data1:
    items = line.strip('\n').split(',')
    encounter_id = items[0]
    pt_id = items[1]
    if pt_id not in pt_encounter:
        pt_encounter[pt_id] = encounter_id
    elif int(items[0]) < int(pt_encounter[pt_id]):
        pt_encounter[pt_id] = items[0]
print ('finish part1')
data1.close() 
print (len(pt_encounter))

In [6]:
pt_encounter

{}